.section {
    width: 100%;
    padding: 56px 80px 80px 80px;
    gap: 80px;
    opacity: 0px;
}

.images {
    border-radius: 20px;
    border: 2px 0px 0px 0px;
    border: 2px solid #0f172a;
    box-shadow: 12px 12px 0px 0px #0f172a;
}